{% extends "./plantilla.html" %}
{% load static %}
{% block contenido %}

    <!-- Spinner Start 
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Cargando......</span>
            </div>
        </div> -->
        <!-- Spinner End -->
 <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 p-0" style="background-image: url('{% static "img/banerspeedy.png" %}');">
        <div class="container-fluid page-header-inner py-5">
            <div class="container text-center">
                <h1 class="display-3 text-white mb-3 animated slideInDown">Quiénes Somos</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center text-uppercase">
                        <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                        <li class="breadcrumb-item"><a href="#">Servicios</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Quiénes Somos</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- Page Header End -->
        <!-- Service Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-4">
                    
                    <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="d-flex cuadro-custom  py-5 px-4">
                            <i class="fa fa-truck-loading fa-3x icon-custom flex-shrink-0"></i>
                            <div class="ps-4">
                                <h5 class="mb-3">MISIÓN</h5>
                                    <p>Ofrecer servicios de transporte seguros, eficientes y confiables, cumpliendo con los más altos estándares de calidad y la certificación BASC. Nos comprometemos con la mejora continua de nuestros procesos y la incorporación de tecnología innovadora que fortalezca la seguridad, el control y la excelencia en el servicio, generando confianza y valor para nuestros clientes.</p>
                                
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="d-flex cuadro-custom  py-5 px-4">
                            <i class="fa fa-truck-loading fa-3x icon-custom flex-shrink-0"></i>
                            <div class="ps-4">
                                <h5 class="mb-3">VISIÓN</h5>
                                    <p>Ser una empresa líder en transporte reconocida a nivel nacional por su seguridad, responsabilidad y excelencia operativa. Aspiramos a integrar tecnología de manera estratégica para modernizar nuestros procesos, impulsar nuestro crecimiento interno y expandirnos hacia nuevos mercados, consolidando relaciones duraderas con clientes y aliados.</p>
                                
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
        <!-- Service End -->


         <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 pt-4" style="min-height: 400px;">
                    <div class="position-relative h-100 wow fadeIn" data-wow-delay="0.1s">
                        <img class="position-absolute img-fluid w-100 h-100" src="{% static 'img/trailers.jpeg' %}" style="object-fit: cover;" alt="">
                        <div class="position-absolute top-0 end-0 mt-n4 me-n4 py-4 px-5" style="background: rgba(0, 0, 0, .08);">
                            <h1 class="display-4 text-white mb-0">10 <span class="fs-4">Años</span></h1>
                            <h4 class="text-white"> de Experiencia</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    
                    <h1 class="mb-4"><span style="color: #ff6a00;">SPEEDYLARS</span> La mejor opcion para movilizar tu carga</h1>
                    <p class="mb-4">Somos una compañia destacada por:</p>
                    <div class="row g-4 mb-3 pb-3">
                        <div class="col-12 wow fadeIn" data-wow-delay="0.1s">
                            <div class="d-flex">
                                <div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1" style="width: 45px; height: 45px;">
                                    <span class="fw-bold text-secondary">01</span>
                                </div>
                                <div class="ps-3">
                                    <h6>Profesionales Expertos</h6>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-12 wow fadeIn" data-wow-delay="0.3s">
                            <div class="d-flex">
                                <div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1" style="width: 45px; height: 45px;">
                                    <span class="fw-bold text-secondary">02</span>
                                </div>
                                <div class="ps-3">
                                    <h6>Puntualidad</h6>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                            <div class="d-flex">
                                <div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1" style="width: 45px; height: 45px;">
                                    <span class="fw-bold text-secondary">03</span>
                                </div>
                                <div class="ps-3">
                                    <h6>Confiabilidad</h6>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


        <!-- Fact Start -->
    <div class="container-fluid fact bg-dark my-5 py-5">
        <div class="container">
            <div class="row g-4">
                <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.1s">
                    <i class="fa fa-check fa-2x text-white mb-3"></i>
                    <h2 class="text-white mb-2" data-toggle="counter-up">10</h2>
                    <p class="text-white mb-0">Años de Experiencia</p>
                </div>
                <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.3s">
                    <i class="fa fa-users-cog fa-2x text-white mb-3"></i>
                    <h2 class="text-white mb-2" data-toggle="counter-up">10</h2>
                    <p class="text-white mb-0">Clientes Activos</p>
                </div>
                <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.5s">
                    <i class="fa fa-users fa-2x text-white mb-3"></i>
                    <h2 class="text-white mb-2" data-toggle="counter-up">10</h2>
                    <p class="text-white mb-0">Proveedores Estrategicos</p>
                </div>
                <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.7s">
                    <i class="fa fa-car fa-2x text-white mb-3"></i>
                    <h2 class="text-white mb-2" data-toggle="counter-up">1594</h2>
                    <p class="text-white mb-0">Operaciones Realizadas</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Fact End -->

        

    {% endblock %}